<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>公益基金会</title>
    {% endblock %}
{#    <link rel="stylesheet" type="text/css" href="./static/css/log.css">#}
</head>

{% block content%}
<h5>公益基金会</h5>
<table border="1">
	<tr>
	<td>基金会名称<td/>
	<td>成立时间</td>	
	<td>组织宗旨</td>	
	<td>业务范围</td>
        <td>简介</td>
        <td>简介</td>

	</tr>
	<tr>
	<td>中国残疾人福利基金会<td/>
	<td>1984年3月15日<td/>
	<td>是弘扬人道，奉献爱心，全心全意为残疾人服务。<td/>
	<td>宣传残疾人事业，呼吁社会理解、尊重、关心、帮助残疾人，鼓励残疾人自尊、自信、自强、自立；<td/>
	<td><a href=''>详情</a><td/>
	</tr>
<tr>
	<td>中华环境保护基金会<td/>
	<td>1993年4月 <td/>
	<td>中华环境保护基金会宗旨：广泛募集、取之于民、用之于民、保护环境、造福人类<td/>
	<td>2021年4月8日，中华环境保护基金会与合作伙伴共同发起公益活动“U+校餐计划”， 旨在帮助乡村在校学生提升校餐的营养健康、食品安全、减少浪费，同时引导学生均衡饮食，养成勤俭节约、爱惜粮食的好习惯，建设资源节约型校园<td/>
	<td><a href=''>详情</a><td/>
	</tr>
<tr>
	<td>中国志愿服务基金会<td/>
	<td>2009年7月<td/>
	<td>中国志愿服务基金会将秉承“行善立德”的价值理念，发扬“团结、关爱、奉献”的志愿服务精神，真心关爱群众，努力为民造福，弘扬正能量，引领新风尚，为大力培育和践行社会主义核心价值观做出新贡献。<td/>
	<td>中国志愿服务基金会的业务范围主要包括：资助扶贫济困、扶弱助残、帮老助幼、支教助学、抢险救灾、环境保护、科技传播、医疗卫生、治安防范、社区服务以及其他推动教育、科学、文化、卫生、体育等事业发展的各类志愿服务公益项目；资助志愿服务的理论研究和宣传；资助或支持对志愿服务事业作出突出贡献的团体和个人的奖励工作；开展与港澳台同胞、海外侨胞、国外友好团体和人士，以及国际组织、基金组织的友好往来，增进相互了解，推进并实施体现国际人道主义、弘扬中华文化的国际志愿服务公益项目的援助与合作。<td/>
	<td><a href=''>详情</a><td/>
	</tr>
<tr>
	<td>中国青少年发展基金会<td/>
	<td>1989年3月<td/>
	<td>坚持以习近平新时代中国特色社会主义思想为指导,弘扬慈善文化，倡导公益理念，多做雪中送炭的实事，汇聚社会爱心，传递党的温暖;通过资助服务、利益表达和社会倡导，帮助青少年提高能力，改善青少年成长环境，促进青少年全面发展。<td/>
	<td>（一）依法在海内外开展公开募捐活动；
（二）组织实施符合本基金会宗旨的资助、服务和救灾援助项目；
（三）开展有益于青少年身心健康的各项活动；
（四）支持并组织实施青少年研究和非营利组织发展的研究；
（五）依法依规并经批准后奖励青少年优秀人才及为青少年事业做出杰出贡献的个人和团体；
（六）开展与台港澳同胞、海外侨胞、国外友好团体和人士以及国际青少年组织、非营利组织的友好交流与合作。<td/>
	<td><a href=''>详情</a><td/>
	</tr>
</table>

{% endblock %}