{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>管理员审核页面</title>#}
{#    <style>#}
{#        .border{#}
{#        border: 4px solid pink;#}
{#        border-radius: 15px;#}
{#        margin: 60px;#}
{#    }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<img src="/static/images/zzb.jpg" width="50%" height="auto">#}
{#<center>#}
{#<div class="border">#}
{#        <br/>#}
{#        <br/>#}
{#      <img src="/static/images/书本.png" width="200px" height="200px">#}
{#        <br/>#}
{#    <br/>#}
{#    <table style="color: hotpink" border="1">#}
{#        <thead>#}
{#        <tr>#}
{#            <td>序号</td>#}
{#            <td>活动标题</td>#}
{#            <td>活动内容</td>#}
{#            <td>活动时间</td>#}
{#            <td>活动地点</td>#}
{#            <td>举办单位</td>#}
{#            <td>单位资质</td>#}
{#            <td>审核</td>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for port in activities %}#}
{#        <tr>#}
{#            <td>{{ port.id }}</td>#}
{#            <td>{{ port.title }}</td>#}
{#            <td>{{ port.context }}</td>#}
{#            <td>{{ port.time }}</td>#}
{#            <td>{{ port.place }}</td>#}
{#            <td>{{ port.Organizer }}</td>#}
{#            <td>{{ port.qualifications }}</td>#}
{#            <td><a href="{% url 'showdata' port.id %}">通过</a>/<a href="{% url 'showdata' port.id %}">不通过</a></td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#        <br/>#}
{#        <br/>#}
{##}
{#</div>#}
{#</center>#}
{#</body>#}
{#</html>#}
